/* Color Palette
    Blue #7FCAAC
    Yellow #F3BF2A
    Brown #92623B
    Gray #383838
 
*/


/* GLobal styles
--------------------*/

body{
    background-image: url("../images/green_gobbler.png");
    color: #383838;        
    font-size: 1em; 
    font-family: Georgia, 'Times New Roman', Times, serif;    
    height: 100%;
    margin-left: 160px;
 }


h1 {
    font-family: 'Permanent Marker', cursive;   
    font-size: 2rem;
}

h2 {
    font-size: 1rem;   
    font-family: 'Beth Ellen', cursive;
}


/* Main body styles
--------------------*/
main {
    flex: 1 0 auto;
    
} 

#search-form {
 padding-top: 15px;
}

.giphyDiv {
    width: 200px;
}

label {
    color: #92623B;
    font-weight: 400;
}

.addMore {
    height: 50px;
}

.imageHeart {  
    margin-left: 20px;
    font-size: 1.5rem;
    color: #92623B;
}
img {
    width: 180px;
}

#sidebar {
    display: block;
    padding: 20px 10px;
    position: fixed;
    z-index: 1;
    height: 100%;
    width: 200px;
    text-align: center;  
    background-color: rgba(255, 255, 255, 0.25);
    overflow-x: hidden;
    top: 0;
    left: 0;
}

@media only screen and (max-width: 768px) {
    #sidebar {
        font-size: 0.5rem;
        padding-top: 15px;
        height: 160px;
        width: 100%;
        top: 70%;
        position: fixed;
    } 
    body {
        margin-left: 0px;       
    }
    main {
        margin-bottom: 220px;
    }
    img {
        width: 80px;
    }
}

/* Footer styles
--------------------*/
footer {
    background: #666666;
    border-top: 8px solid #7FCAAC;
    color: #ffffff;
    font-size: 0.5em;
    text-align: center;
}

#sticky-footer {
    flex-shrink: none;
  }

  

